<!-- quran/templates/quran/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Holy Quran{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <h1>The Holy Quran</h1>
    </header>

    <!-- Your page content goes here -->

    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>
        <p>&copy; 2024 ONVIGO TRAVEL. All rights reserved.</p>
    </footer>
</body>

</html>
